/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif; /* 기본 폰트 설정 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: theme('colors.text-main'); /* 기본 텍스트 색상 */
}

/* 커스텀 스크롤바 (선택 사항) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: theme('colors.light-bg');
}
::-webkit-scrollbar-thumb {
  background: theme('colors.brand-primary.light');
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: theme('colors.brand-primary.DEFAULT');
}